*{
  font-family: 'DM Sans', sans-serif;
  margin-top: 0px;
  margin-left: 0px;
}
.nav__responsive-ul{
  display: none;
}
.nav{
  background:#48e;
}
.nav__li{
  display: inline-block;
padding: 12px;
color: #aaa;
}
.nav__li a{
  color: #aaa;
  text-decoration: none;
}
.nav__li i{
  width: 30px;
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}
.nav__li:hover{
  color: #ccc;
  background: #fff1;
}
.nav__li:hover>a{
  color: #ddd;
}
.nav__responsive-button{
    padding: 6px 20px;
    font-size: 25px;
float: right;
    width: 100%;
  }
  .nav__responsive-button-container{
position: absolute;
width: 100%;
font-size: 25px;
    margin-top: -74px;
    z-index: 100;
  }
  
@media only screen and (max-width: 500px){
  .nav__ul{
    display: none;
  }  
   .nav{
    height: 37px;
    width: 100%;
background-color:#69c;
  }
  .nav__responsive-ul{
    display: block;
    position: absolute;
    width:100%;
    margin-top: 37px;
    padding-top: 37px;
    height: 37px;
  }
  .nav__li-container{
    position: relative;
    top: -1000px;
    right: 40px;
  height:calc(100vh - 64px);
   background-color: #9bf;
   list-style: none;
   width: 70%;
   z-index: -1;
  }
.nav__responsive-li{
width: 100%;
padding: 9px;
}
.nav__responsive-li i{
  box-sizing: border-box;
  text-align: center;
  margin-right: 5px;
width: 30px;
color: #016;
}
.nav__responsive-li a{
  color: #016;
  text-decoration: none;
}
.nav__responsive-ul:hover > .nav__li-container{
  top: -20px;
  margin-top: -18px;
  transition: all 1s;
}
}
